@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #21272e !important;


}


/* NAV */

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50rem;
  padding: 20px 20px 20px 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  .header {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .name {
      font-size: 3.5rem;

      a {
        color: #e0e1dd;
      }

      a:hover {
        text-shadow: 0 0 1px #5eb591, 0 0 1px #5eb591, 0 0 50px #5eb591;
        animation: glow 1.5s infinite alternate;
      }

    }

    .title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: #e0e1dd;
    }

    .info {
      width: 20rem;
      color: #b3b8c0;
    }
  }

  .tabs ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  .tabs ul li a.active {
    color: #5eb591;
    text-shadow: 0 0 1px #5eb591, 0 0 1px #5eb591, 0 0 50px #5eb591;
    animation: glow 1.5s infinite alternate;
  }


  .tabs ul li a:hover {
    color: #5eb591;
    text-shadow: 0 0 1px #5eb591, 0 0 1px #5eb591, 0 0 50px #5eb591;
    animation: glow 1.5s infinite alternate;
  }

  .resume {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    bottom: 11rem;
    left: 4.5rem;
    transform: translate(50%);

    .resume-button {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 12px 24px;
      font-size: 1.125rem;
      font-weight: 600;
      color: #21272e;
      background-color: #5eb591;
      border-radius: 8px;
      text-decoration: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .resume-button:hover,
    .resume-button:focus {
      background-color: #84d8b5;
      transform: scale(1.05);
      box-shadow:
        inset 0 0 8px #5eb591,
        0 0 10px rgba(0, 255, 204, 0.5),
        0 0 15px rgba(0, 255, 204, 0.4);
    }
  }


  .bottom {
    .social-icons {
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      position: absolute;
      bottom: 0;
      left: -35rem;
      transform: translate(50%);
      width: 100%;
      margin-bottom: 7rem;

      .link-text {
        display: none;
      }
    }

    .social-icons a {
      color: #e0e1dd;
      transition: color 0.3s ease;
    }

    .social-icons a:hover {
      color: #5eb591;
      transform: scale(1.25);
    }
  }

}


nav li {
  margin-bottom: 10px;
}

nav a {
  color: #5eb591;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

main {
  flex-grow: 1;
}



/* PAGE */

.home {
  padding: 3rem 60px 0px 200px;
  margin-left: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #b3b8c0;
  width: 57rem;
  margin-bottom: 7rem;

  .sticky-header {
    display: none;
  }

  .about {
    margin-bottom: 2rem;
    padding: 2rem 1.25rem;

    a {
      color: #e0e1dd;
      font-weight: 600;
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      text-decoration: underline;
      color: #5eb591;
      text-decoration: none;
    }
  }

  .experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 4rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .experience-item,
  .project-item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.25rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;

  }

  .experience-item:hover,
  .project-item:hover {
    background-color: rgba(255, 255, 255, 0.045);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0);
    transform: translateY(-5px);
  }

  .experience-item:hover .description h3,
  .project-item:hover .description h3 {
    color: #5eb591;
    transition: color 0.3s;
  }

  .experience-item:hover .timeline,
  .project-item:hover .timeline {
    color: #a0a0a0;
  }

  .experience:hover .experience-item:not(:hover),
  .projects:hover .project-item:not(:hover) {
    opacity: 0.5;
    filter: blur(0.1px);
    transition: opacity 0.3s, filter 0.3s;
  }

  .timeline {
    min-width: 120px;
    color: #5eb591;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .description {
    flex: 1;

    h3 {
      color: #ffffff;
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  .stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.75rem;
  }

  .stack span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    color: #5eb591;
    background-color: #6df2bb1f;
  }
}

section:last-of-type {
  border-bottom: none;
}

.microservice,
.blackbaud,
.christman {
  text-align: left;
  padding: 71px 20px 20px 150px;
  color: #e0e1dd;
  display: flex;
  flex-direction: column;

  .name-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #5eb591;
    font-weight: bold;
    font-size: 1.25rem;
    transition: transform 0.3s ease;
    margin-left: 1.5rem;

    &::before {
      content: '←';
      position: absolute;
      left: -1.5rem;
      color: #5eb591;
      transition: transform 0.3s ease;
    }

    &:hover {
      &::before {
        transform: translateX(-5px);
      }
    }
  }


  .header {
    max-width: 92%;
    margin-bottom: 2rem;

    .header-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h1 {
      font-size: 3.5rem;
      color: #e0e1dd;
      font-weight: bold;
    }

    h2 {
      font-size: 1.75rem;
      margin-top: -1rem;
    }
  }

  .block-content {
    max-width: 93%;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    h4 {
      color: #ffffff;
      font-size: 1.5rem;

    }

    p,
    ul {
      margin: 1.5rem 0;
      color: #b3b8c0;
    }

    h6 {
      margin-top: 1rem;
    }

    .block-item {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      padding: 1.25rem;
      border-radius: 10px;
      transition: background-color 0.3s ease, transform 0.2s ease;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.045);
    }

    .block-item,
    .hover-effect {
      flex-direction: column;
      gap: 0;
    }

    .block-item:hover {
      background-color: rgba(255, 255, 255, 0.045);
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0);
      transform: translateY(-5px);
    }

    .block-item:hover h4 {
      color: #5eb591;
      transition: color 0.3s;
    }

    .row:hover .block-item:not(:hover) {
      opacity: 0.5;
      filter: blur(0.1px);
      transition: opacity 0.3s, filter 0.3s;
    }

    .block-item {
      transition: opacity 0.3s, filter 0.3s;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.045);
    margin-bottom: 2rem;
    max-width: 91%;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91%;
    margin-bottom: 5rem;
  }

  .video {
    max-width: 100%;
    height: auto;
    z-index: 1001;
  }


  .code-m {
    display: none;
  }

  .buttons {
    display: flex;
    gap: 3rem;
  }

  .code-d {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    z-index: 1001;

    .code-button {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 12px 24px;
      font-size: 1.125rem;
      font-weight: 600;
      color: #1b263b;
      background-color: #5eb591;
      border-radius: 8px;
      text-decoration: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }

    .code-button:hover,
    .code-button:focus {
      background-color: #84d8b5;
      transform: scale(1.05);
      box-shadow:
        inset 0 0 8px #5eb591,
        0 0 10px rgba(0, 255, 204, 0.5),
        0 0 15px rgba(0, 255, 204, 0.4);
    }

    .code-button:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
    }
  }
}




/* MOBILE */

@media (max-width: 1200px) {

  body {
    flex-direction: column;
  }

  nav {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    left: 2rem;

    .tabs {
      display: none;
    }

    .header {
      padding-bottom: 3rem;

      .name {
        font-size: 2.5rem;
      }

      .title {
        font-size: 1.25rem;
      }
    }

    .bottom {

      .resume {
        bottom: -1rem;
        left: -16%;
      }

      .social-icons {
        bottom: -12rem;
        left: -76%;
      }
    }
  }

  .home {
    margin-top: 2rem;
    padding: 1rem;
    max-width: 27rem;
    margin-left: 0;
    margin-bottom: 4rem;

    .sticky-header {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
      transform: none !important;
      text-align: left;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #21272e;
      color: #5eb591;
      padding: 10px 20px;
      font-size: 30px;
      font-weight: bold;
      z-index: 1005;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      p {
        margin-left: 1rem;
      }
    }

  }

  main {
    margin-top: 60px;
  }

  .experience-item {
    flex-direction: column;
  }

  .timeline {
    text-align: left;
    margin-bottom: -1rem;
  }

  .microservice,
  .blackbaud,
  .christman {
    padding: 40px 20px 20px 40px;

    .header {
      margin: 0;

      h1 {
        font-size: 2.25rem;
      }

      h2 {
        font-size: 1.25rem;
        margin: 1rem 0;
      }

      .header-wrap {
        flex-direction: column;
      }

      .code-d {
        display: none;
      }
    }

    .blocks {
      flex-direction: column;
    }

    .code-m {
      display: flex;
      margin: 1rem 0 2rem 0;
      justify-content: flex-start;

      .code-button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 12px 24px;
        font-size: 1.125rem;
        font-weight: 600;
        color: #1b263b;
        background-color: #5eb591;
        border-radius: 8px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
      }

      .code-button:hover,
      .code-button:focus {
        background-color: #5578ba;
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      }
    }

    .video-container {
      margin-bottom: 2rem;
    }
  }

  .block-item {
    height: auto !important;
    min-height: unset !important;
  }
}

/*
.cursor-glow {
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(27, 27, 27, 0.053), transparent);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(80px);
  mix-blend-mode: screen;
  z-index: 1000;
}
*/